body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
body.home {
  background: #000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_car_field input {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  font-weight: 500;
  color: #fff;
}

input[type="submit"] {
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

.error-msg {
  color: red;
  text-align: center;
  padding-top: 10px;
}

#generated_html {
  color: #fff;
}
